#first {
    position: absolute;
    top:400px;
    left:450px;
}

#second {
    position: absolute;
    top:500px;
    left:450px;
}

#third {
    position: absolute;
    top:700px;
    left:450px;
}