a.montage {
     color:  var(--red);
}

.photo {
    position: absolute;
    height: 600px;
    width: 700px;
    top: 190px;
    left: 150px;
    text-align: center;
}

.camera {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 450px;
    width: 700px;
    background-color: #666;
    border: 1px dotted black;
}

.stickers {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 700px;
    border: 1px solid black;
}

.sticked {
    top: 45px;
    left:200px;
    position: absolute;
    width: 300px;
    height: auto;
}

.stick {
    max-height: 140px;
    max-width: 100px;
}

#videoElement {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 700px;
    height: 450px;
    background-color: #666;
}

#uploaded {
    max-width: 700px;
    max-height: 450px;
}

#taken {
    max-width: 700px;
    max-height: 450px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.test {
    position: absolute;
    top: 10px;
}

